@media only screen and (max-width: 1000px){

    /* resposive */
    .nav-list a{
        font-size: 14px;
        padding: 10px;
      }
    
      .link:hover {
        color: #000000 ;
        font-size: 20px;
        transition: 0.5s ease;
        opacity: 1;
    }
    
      .container-header span{
        font-size: 32px;
      }
      .heading h2 {
        font-size: 20px;
      }
      .service {
        width: 50%;
        padding-bottom: 50px;
      }
      .service-wrapper {
        height: 800px;
      }
      .container-form {
        width: 50%;
      }

      .footer-item {
        width: 100%;
    }
 
 @media screen and (max-width: 800px) {
 
     .content-slide {
         padding: 8px 50px 12px 50px;
     }
 
     .next {
         right: 50px;
         border-radius: 3px 0 0 3px;
     }

     
     
 }
 
 .fade {
     -webkit-animation-name: fade;
     -webkit-animation-duration: 1.5s;
     animation-name: fade;
     animation-duration: 1.5s;
 }
 
 @-webkit-keyframes fade {
     from {
         opacity: .4;
     }
 
     to {
         opacity: 1;
     }
 }
 
 @keyframes fade {
     from {
         opacity: .4;
     }    
     to {
         opacity: 1;
     }
 }
     .img-wrapper-child img{
         width: 100%;
     }
     
     .text-wrapper h1{
         font-size: 32px;
         padding-left: 20px;
     }
 
     .set-icon{
         display: none;
     }
 
     .icon-res{
         padding: 30px;
         font-size: 32px;
         transition: all 0.5s;
     }
     
     .img-wrapper{
         margin-left: 0;
         display: none;
     }
     
     aside{
        top:3752px;
     }
     .left-dikit{
         margin-left: 18px;
     }
 
     .set-icon-bottom{
         display: block;
     }

     .set-icon-bottom a{
         font-size: 32;
    }

    .services{
        margin-bottom: 600px;
        position: relative;
        position:static;
    }
    .service-wrapper {
        height: 1300px;
    }

    .wrapservice{
        display: inline-block;
      
    }
    .product{
        position: relative;
        position:static;
    }
 }
 
 @media only screen and (max-width: 670px){
     .main{
         padding: 0 20px;
         height: 650px;
     }
 
     .home{
        height: 530px;
     }
     .text-wrapper{
         width: 100%;
     }
     .img-wrapper{
         display: none;
     }
 
     .content{
         max-width: 670px;
         margin: 0;
         padding: 0;
     }
 
     .left-dikit{
         margin-left: 18px;
     }

     .left-dikit h1{
        font-size: 35px;
     }

     .left-dikit p{
        font-size: 30px;
     }
 
     .text-wrapper h1{
         font-size: 24px;
     }
     
     .set-icon-bottom{
         display: block;
         margin-top: 20px;
         text-align: center;
     }
 
     .icon-res{
         text-decoration: none;
         display: inline-block;
         font-size: 42px;
         padding-top: 0;
     }
 
     .main-text{
         padding: 100px 0 50px 0;
         width: 100%;
     }
 
     .btn{
         opacity: 1;
         height: 40px;
         width: 50%;
     }
 
     .btn-main{
         width: 100%;
         margin-right: 33px;
         line-height: 40px;
         margin-left: 0;
         padding: 0 20px;
     }
     .btn-main a{
         font-size: 24px;
     }
 
     .space-right{
         display: block;
         margin-right: 33px;
     }
 
     .img-res{
         display: block;
         background-size: cover;
     }
 
     .img-res img{
         width:100%;
         transition: all 0.5s;
     }
     aside{
        top:3855px;
     }
    
    .icon-res{
        text-decoration: none;
        display: inline-block;
    }
    
    .space-right{
        display: none;
    }

    .nav-list{
        display:none;
    }
    .menu-icon{
        color: #000000;
        font-size: 32px;
      line-height: 30px;
      padding-top: 30px;
    }
    
    .menu-icon li a {
        color: black;
        align-items: center;
        font-size: 20px;
        padding: 10px 10px;
        /* Gantikan property display ke none */
        margin-right: 5px;
        text-decoration: none;
        width: 100%;
    }

	.menu-icon:hover .isi-dropdown {
		display: block;
	}
    .isi-dropdown a:hover {
		color: #fff;
    }

    .isi-dropdown {
		position:static;
		display: none;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		background-color: #f9f9f9;
        float: left;
	}

    .isi-dropdown a {
		color: #3c3c3c;
	}
 
	.isi-dropdown a:hover {
		color: #232323 ;
		background: #f3f3f3;
	}

    .about{
        height: fit-content;
        height: 850px;
    }
    
    .container-about {
        width: 100%;
        height: 1000px;
        overflow-y: scroll;
        display: inline-block;
    }

    .container-about h2 {
        font-size: 24px;
        padding-bottom: 25px;
    }

    .about-wrapper{
        padding-top: 520px;
    }

    .about-text p{
        
        font-size: 15px;
    }

    .btn-content {
        width: 70%;
    }

    .heading h2 {
        font-size: 20px;
    }

    .service {
        width: 100%;
        padding-bottom: 50px;
        
    }

    .wrapservice{
        display: inline-block; 
        left: 0;
    }

    .container-form {
        width: 80%; 
    }    

    .container-service h2{
        font-size: 21px;
    }
    
    .footer-item {
        width: 100%;
        padding: 0 15px;
        margin-bottom: 30px;
    }
    }

    @media all and (max-width: 450px) {
        .container-form {
        width: 100%;
        }
    }